.banner {
    background-color: #c40018;
    
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

        .header {
            display: flex;
            background: url("./../../images/banner-image.jpg");
            background-size: cover;
            background-position: center;
            width: 100%;
            max-width: 1024px;
            justify-content: center;
            align-items: center;

            .header-text {
                font-size: 24px;
            }
        }
    }
}
