.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .new-product-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
