.menu {
    display: flex;
    justify-content: center;
    background-color: #ff6107;

    .wrapper {
        max-width: 1024px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .menu-items {
            display: flex;
            justify-content: space-between;
            .menu-button {
                    
                    background-color: #e9290f;
                    border: none;
                    color: white;
                    padding: 5px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 14px;
                    border-radius: 4px;
            }

            .menu-greeting {
                padding: 10px;
            }
        }
    }
}
